<!--
 * Title: home.component.html
 * Date: January 12, 2023
 * Author: Jamal Eddine Damir
 * Description: Home component
 * Sources:
 * Source code from class GitHub Repository
 * Instructor provided assignment specific instructions
 -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active"><a class="nav-link">Home</a></li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link">About</a></li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link">Contact Us</a></li>
  </ul>
</nav>
<div class="container">
  <br /><br />
  <h2>Exercise 3.4 - Guarding Routes</h2>
  <br /><br />
  <div class="row">
    <div class="col-sm-4">
      <app-my-image></app-my-image>
    </div>
    <div class="col-sm-8">
      <app-my-details></app-my-details>
    </div>
  </div>
</div>
