/*
 * Title: book-list.component.scss
 * Date: February 4, 2023
 * Author: Jamal Eddine Damir
 * Description: In-n-out-books book-list styles
 * Sources:
 * Source code from class GitHub Repository
 * Instructor provided assignment specific instructions
 */
.a-link {
  text-decoration: none;
  cursor: pointer;
}

.a-link:hover {
  text-decoration: underline;
}
