<!--
    Title: about.component.html.
    Author: Jamal Eddine Damir
    Date: January 14, 2023
    Description: about.component.html file for Web-425 Exercise 2.2
    Sources:
            * Source code from class GitHub Repository
            * W3Schools.com
            * Instructor provided assignment specific instructions
-->

<div class="composer-container">
  <h1>About the Composer</h1>
  <div class="row">
    <div class="col-sm-12">
      <br />
      <h4>Ludovico Einaudi</h4>
    </div>
  </div>

  <div class="row about-composer">
    <div class="col-sm-4">
      <!-- Column containing composer's image-->
      <img
        src="./assets/Ludovico_Einaudi.jpeg"
        alt="Image of Ludovico Einaudi"
      />
      <br />
      <a
        href="https://commons.wikimedia.org/wiki/File:Ludovico_Einaudi_in_Tehran_12_(cropped)2.jpg"
        >Tasnim News Agency</a
      >, <a href="https://creativecommons.org/licenses/by/4.0">CC BY 4.0</a>,
      via Wikimedia Commons
    </div>
    <div class="col-sm-8">
      <p>
        Ludovico Einaudi is a renowned Italian pianist and composer who has
        captivated audiences with his unique blend of minimalist and
        contemporary classical music. Einaudi has released a plethora of albums,
        including the critically acclaimed "Divenire" and "Elements". His
        emotive and evocative compositions have also been featured in films and
        documentaries, solidifying his reputation as a master of modern
        classical music. Einaudi's live performances are known to be a
        mesmerizing experience, leaving the audience in a state of contemplative
        bliss.
      </p>
    </div>
  </div>
</div>
