<!--
    Title: contact.component.html.
    Author: Jamal Eddine Damir
    Date: February 4, 2023
    Description: contact.component.html file
    Sources:
            * Source code from class GitHub Repository
            * W3Schools.com
            * Instructor provided assignment specific instructions
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>
    <br />
      <!--Writer contact address column -->
    <mat-card-content class="align-center">
      <h3>Literary Estate of Erich Fromm</h3>
      <p>Dr. Rainer Funk</p>
      <p>Ursrainer Ring 24</p>
      <p>D-72070 Tübingen</p>
      <p>Germany</p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>
    <br />
     <!--Writer contact phone number column -->
    <mat-card-content class="align-center">
      <p>Direct: +49 (0)7071-600004</p>
    </mat-card-content>
  </div>
</div>
