<!--
    Title: contact.component.html.
    Author: Jamal Eddine Damir
    Date: January 14, 2023
    Description: contact.component.html file
    Sources:
            * Source code from class GitHub Repository
            * W3Schools.com
            * Instructor provided assignment specific instructions
-->

<div class="contact-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 style="padding-left: 27%">Welcome to the Contact Us page</h3>
    </div>
  </div>

  <br /><br />

  <div class="row">
    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <i class="bi bi-envelope-fill"></i>
        </div>
      </div>
      <!--Composer contact address column -->
      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">Ponderosa Music & Art</li>
            <li class="list-group-item border-0">
              Piazza Santa Maria Delle Grazie, 1
            </li>
            <li class="list-group-item border-0">Milano, Italy 20123</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <i class="bi bi-telephone-fill"></i>
          </div>
        </div>
        <!--Composer contact phone number column -->
        <div class="row location">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item border-0">Booking: 1.800.698.2536</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
