/*
 * Title: book-details.component.scss
 * Date: February24, 2023
 * Author: Jamal Eddine Damir
 * Description: In-n-out-books book-list styles
 * Sources:
 * Source code from class GitHub Repository
 * Instructor provided assignment specific instructions
 */
.book-details {
  padding: 20px;
  line-height: 1.6;
  font-size: 18px;
  font-weight: lighter;
}
