/*
 * Title: App.component.scss
 * Date: February 4, 2023
 * Author: Jamal Eddine Damir
 * Description: In-n-out-books Logo and main-container styles
 * Sources:
 * Source code from class GitHub Repository
 * Instructor provided assignment specific instructions
 */

.logo {
  margin-top: 5px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
