<!--
    Title: About.component.html.
    Author: Jamal Eddine Damir
    Date: February 4, 2023
    Description: About.component.html file
    Sources:
            * Source code from class GitHub Repository
            * W3Schools.com
            * Instructor provided assignment specific instructions
-->
<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img
          src="../assets/Erich_Fromm_1974.jpg"
          alt="Image of Erich Fromm in 1974"
        />
      </div>
      <div>
        <br />
        <a href="https://commons.wikimedia.org/wiki/File:Erich_Fromm_1974.jpg"
          >Müller-May / Rainer Funk</a
        >, <a href="https://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>,
        via Wikimedia Commons
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Who was Erich Fromm?</h1>
    <p>
      Erich Fromm was a German-born social psychologist, psychoanalyst,
      sociologist, philosopher, and democratic socialist. Born on March 23,
      1900, in Frankfurt, Germany, he was a leading figure in the field of
      psychology and social theory. Fromm was a German Jew who was forced to
      flee the Nazi regime, eventually settling in the United States where he
      continued his work. In New York City, Fromm became one of the founders of
      the William Alanson White Institute of Psychiatry, Psychoanalysis and
      Psychology. Fromm was a humanistic philosopher who believed in the
      importance of individual freedom and autonomy. He rejected the traditional
      notion of psychoanalysis that saw human beings as passive and determined
      by unconscious forces, and instead, emphasized the role of individuals in
      shaping their own destiny. Erich Fromm passed away on March 18, 1980, but
      his legacy continues to shape the field of psychology and the larger
      conversations about human freedom, autonomy, and social justice.
    </p>
  </div>
</div>
